.list {
  width: 100%;
  padding: 0 20px 0 20px;
}

.user-reward {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 10px;
}

.content {
  display: flex;
  flex-direction: column;
}
